<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="site-header">
    <div class="logo-container">
      <img src="static\GlobP.png" alt="Логотип" width="70" height="70">
      <h1>GLOBAL WARMING</h1>
    </div>

    <hr>

    <nav class="main-nav">
      <a href="/">Главная</a>
      <span class="nav-separator"></span>
      <a href="/2">Причины</a>
      <span class="nav-separator"></span>
      <a href="/3">Последствия</a>
      <span class="nav-separator"></span>
      <a href="/4">Викторина</a>
      <span class="nav-separator"></span>
      <b href="/5">О нас</b>
    </nav>

    <hr>
  </header>

  <main>
    {% block content %}
    <h1>О нас</h1>

    <h2>Цель сайта о глобальном потеплении</h2>
    <a>предоставить доступную, научно обоснованную и актуальную информацию об изменении климата, его причинах и последствиях, а также вдохновить и предоставить возможности для каждого, внести свой вклад в создание устойчивого будущего.</a>
    <h2>Кто мы?</h2>
    <a>Мы ученики курса python pro созданного на платформе kodland. Изночально этот сайт создавался как учебное задание, но по мере изучения материала мы с командой поняли что глобальное потепление это не какая-то безделушка, <b>а огромная проблема</b>.</a>
    <h2>Что мы поняли по мере создания этого проекта?</h2>
    <a>Мы осознали какая же это опасность для нашей планеты, и её обитателей. Некоторые особи находятся на <b>грани уничтожения</b>, а некоторые уже безвозвратно ушли.</a>
    <h2>Что мы советуем для предотвращения этой проблемы</h2>
    
    <h2>Дмитрий:</h2> <a>Использование энергоэффективных приборов: Замена старых приборов на новые, с более низким энергопотреблением (холодильники, стиральные машины, лампочки); Энергоэффективное освещение: Переход на светодиодные (LED) лампы; Переход к возобновляемым источникам энергии: Солнечная энергия, Ветроэнергетика, Биоэнергетика.</a>
    
    <h2>Азалия:</h2> <a>Поддерживать местных производителей и фермеров: Покупая продукты у местных фермеров, вы сокращаете транспортные расходы (а значит, и выбросы) и поддерживаете устойчивое сельское хозяйство; Отказываться от импульсивных покупок: Перед каждой покупкой задавайте себе вопрос: "Действительно ли мне это нужно?". Планируйте свои покупки заранее, чтобы избежать ненужных трат и образования отходов.</a>
    
    <h2>Антон:</h2> <a>Сократить использование воды. Например, закрывать кран при чистке зубов, принимать душ вместо ванны, стирать с полной загрузкой стиральной машины, на даче собирать дождевую воду для полива растений; Сократить потребление пластика. Использование многоразовых сумок, бутылок для воды и контейнеров для еды может значительно сократить потребность в одноразовом пластике.</a>
    {% endblock %}
  </main>

  <footer>
    <p>© 2025 Глобальное потепление. Все права защищены.</p>
    <a href="mailto:zumazazaz@gmail.com">Связаться с нами.</a>
  </footer>

</body>
</html>