<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="site-header">
    <div class="logo-container">
      <img src="static\GlobP.png" alt="Логотип" width="70" height="70">
      <h1>GLOBAL WARMING</h1>
    </div>

    <hr>

    <nav class="main-nav">
      <a href="/">Главная</a>
      <span class="nav-separator"></span>
      <a href="/2">Причины</a>
      <span class="nav-separator"></span>
      <a href="/3">Последствия</a>
      <span class="nav-separator"></span>
      <a href="/6">Викторина</a>
      <span class="nav-separator"></span>
      <a href="/5">О нас</a>
    </nav>

    <hr>
  </header>

  <main>
    {% block content %}

    {% endblock %}
  </main>

  <footer>
    <p>© 2025 Глобальное потепление. Все права защищены.</p>
    <p>Свяжитесь с нами: <a href="mailto:">zumazazaz@gmail.com</a></p>
  </footer>

</body>
</html>
