<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="site-header">
    <div class="logo-container">
      <img src="static\GlobP.png" alt="Логотип" width="70" height="70">
      <h1>GLOBAL WARMING</h1>
    </div>


    <hr>

    <nav class="main-nav">
      <a href="/">Главная</a>
      <span class="nav-separator"></span>
      <a href="/2">Причины</a>
      <span class="nav-separator"></span>
      <b href="/3">Последствия</b>
      <span class="nav-separator"></span>
      <a href="/4">Викторина</a>
      <span class="nav-separator"></span>
      <a href="/5">О нас</a>
    </nav>

    <hr>
  </header>

  <main>
    {% block content %}
      <h1>Последствия</h1>
      <img src="static\mem_1.jpg" width="400">
      <img src="static\posled_2.png" width="500">

      <ul>
        <div class="list-item-container">
          <img src="static\posled_1.jpg" class="list-image">
          <h2>Повышение температур</h2>
          <li>С увеличением концентрации парниковых газов растет и глобальная температура земной поверхности.</li>
          <li>Почти во всех районах суши наблюдается увеличение количества жарких дней и периодов аномальной жары.</li>
        </div>

        <div class="list-item-container">  
          <img src="static\штормы.jpg" class="list-image">
          <h2>Усиление штормов</h2>
          <li>Многие регионы столкнулись с увеличением интенсивности и частоты разрушительных штормов.</li>
          <li>Циклоны, ураганы и тайфуны формируются в теплых водах у поверхности океана. Такие ураганы нередко разрушают дома и населенные пункты.</li>
        </div>

        <div class="list-item-container">
          <img src="static\засуха.jpg" class="list-image">
          <h2>Усиление засухи</h2>
          <li>Изменение климата меняет степень доступности воды, делая ее более дефицитным ресурсом в растущем числе регионов.</li>
          <li>Засухи также могут вызывать разрушительные песчаные и пыльные бури, способные перемещать миллиарды тонн песка через континенты.</li>
        </div>

        <div class="list-item-container">
          <img src="static\повышениео.jpg" class="list-image">
          <h2>Потепление и повышение уровня океана</h2>
          <li>Океан поглощает бóльшую часть тепла, образующегося в процессе глобального потепления.</li>
          <li>Таяние ледовых щитов также приводит к повышению уровня моря, угрожая прибрежным и островным сообществам.</li>
        </div>

        <div class="list-item-container">
          <img src="static\виды.jpg" class="list-image">
          <h2>Исчезновение видов</h2>
          <li>Изменение климата создает риски для выживания видов на суше и в океане.</li>
          <li>В число многочисленных угроз, связанных с изменением климата, входят лесные пожары, экстремальные погодные условия.</li>
        </div>

        <div class="list-item-container">
          <img src="static\нетеды.jpg" class="list-image">
          <h2>Нехватка продуктов питания</h2>
          <li>Из-за множества проблем, связанных с изменением климата, в мире постепенно начинается дефицит продуктов — как основных, так и деликатесов.</li>
          <li>Рыбные ресурсы, сельскохозяйственные культуры и домашний скот могут быть уничтожены или стать менее продуктивными.</li>
        </div>
          
        <div class="list-item-container">
          <img src="static\здоровье.jpg" class="list-image">
          <h2>Увеличение рисков для здоровья</h2>
          <li>Изменение климата уже наносят вред здоровью в связи с загрязнением воздуха, распространением заболеваний, возникновением экстремальных погодных явлений, вынужденным перемещением, оказанием давления на психику.</li>
          <li>Повышение температуры и влажности создаёт благоприятные условия для размножения переносчиков инфекционных заболеваний, таких как комары и клещи.</li>
        </div>
        
        <div class="list-item-container">
          <img src="static\нищета.jpeg" class="list-image">
          <h2>Нищета и вынужденное перемещение</h2>
          <li>Наводнения могут смести городские трущобы, разрушив дома и уничтожив источники средств к существованию. Жара может затруднить работу на открытом воздухе.</li>
          <li>В последние десять лет (2010–2019 годы) связанные с погодой явления приводили к вынужденному перемещению в среднем около 23,1 млн человек в год.</li>
        </div>
      </ul>
      <img src="static\posled_2.png" width="600" height="400">
    {% endblock %}
  </main>

  <footer>
    <p>© 2025 Глобальное потепление. Все права защищены.</p>
    <a href="mailto:zumazazaz@gmail.com">Связаться с нами.</a>
  </footer>

</body>
</html>

