<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="site-header">
    <div class="logo-container">
      <img src="static\GlobP.png" alt="Логотип" width="70" height="70">
      <h1>GLOBAL WARMING</h1>
    </div>

    <hr>

    <nav class="main-nav">
      <b href="/">Главная</b>
      <span class="nav-separator"></span>
      <a href="/2">Причины</a>
      <span class="nav-separator"></span>
      <a href="/3">Последствия</a>
      <span class="nav-separator"></span>
      <a href="/4">Викторина</a>
      <span class="nav-separator"></span>
      <a href="/5">О нас</a>
    </nav>

    <hr>
  </header>

  <main>
    {% block content %}
      <h2>Добро пожаловать на сайт о глобальном потеплении!</h2>
      <a>Здесь вы найдете информацию о причинах, последствиях и способах борьбы с глобальным потеплением.</a>
      <h1>Глобальное потепление</h1>
      <h2> – это долгосрочное повышение средней температуры климатической системы Земли.</h2> 
      <h3>Оно проявляется в нагреве атмосферы и океанов. Это явление наблюдается на протяжении десятилетий и подтверждается многочисленными научными данными. Важно отметить, что речь идет не просто об отдельных аномальных днях, а об устойчивом тренде повышения средней температуры в масштабах планеты.</h3>
    {% endblock %}
  </main>

  <footer>
    <p>© 2025 Глобальное потепление. Все права защищены.</p>
    <a href="mailto:zumazazaz@gmail.com">Связаться с нами.</a>
  </footer>

</body>
</html>

