<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="site-header">
    <div class="logo-container">
      <img src="static\GlobP.png" alt="Логотип" width="70" height="70">
      <h1>GLOBAL WARMING</h1>
    </div>

    <hr>

    <nav class="main-nav">
      <b href="/">Главная</b>
      <span class="nav-separator"></span>
      <a href="/2">Причины</a>
      <span class="nav-separator"></span>
      <a href="/3">Последствия</a>
      <span class="nav-separator"></span>
      <a href="/4">Викторина</a>
      <span class="nav-separator"></span>
      <a href="/5">О нас</a>
    </nav>

    <hr>
  </header>

  <main>
    {% block content %}
      <h2>Добро пожаловать на сайт о глобальном потеплении!</h2>
      <a>Здесь вы найдете информацию о причинах, последствиях и способах борьбы с глобальным потеплением.</a>
      <h1>Глобальное потепление</h1>
      <h2> – это долгосрочное повышение средней температуры климатической системы Земли.</h2> 
      <h3>это долгосрочное повышение средней температуры климатической системы Земли. Это основной аспект изменения климата и было доказано прямыми измерениями температуры и измерением различных последствий потепления.</h3>

      <ul>
        <h4>-На страны обрушиваются ураганы, наводнения, резкие засухи.</h4>
        <h4>-Экосистемы рушатся, животные и растения погибают, пищевые цепочки распадаются.</h4>
        <h4>-Повышение температур и высокие содержания в атмосфере загрязняющих веществ ведут к обострению сердечно-сосудистых и легочных заболеваний.</h4>
        <h4>-Объём ледников в мире с каждым годом уменьшается. В Антарктике площадь морского льда в начале 2023 года достигла исторического минимума.</h4>
        <h4>-В результате роста глобальной температуры повышается уровень моря.</h4>
        <h4>-В результате роста средней температуры увеличивается площадь пустынь.</h4>
        <h4>-Подъём уровня Мирового океана всего лишь на 91см оставит без дома более 100 миллионов людей.</h4>
        <h4>-Оранжевые жабы стали первыми животными, которые вымерли из-за глобального потепления.</h4>
      </ul>



    
    
    {% endblock %}
  </main>

  <footer>
    <p>© 2025 Глобальное потепление. Все права защищены.</p>
    <a href="mailto:zumazazaz@gmail.com">Связаться с нами.</a>
  </footer>

</body>
</html>

