<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="site-header">
    <div class="logo-container">
      <img src="static\GlobP.png" alt="Логотип" width="70" height="70">
      <h1>GLOBAL WARMING</h1>
    </div>

    <hr>

    <nav class="main-nav">
      <a href="/">Главная</a>
      <span class="nav-separator"></span>
      <a href="/2">Причины</a>
      <span class="nav-separator"></span>
      <a href="/3">Последствия</a>
      <span class="nav-separator"></span>
      <b href="/4">Викторина</b>
      <span class="nav-separator"></span>
      <a href="/5">О нас</a>
    </nav>

    <hr>
  </header>
  <main>
    {% block content %}
      <h1>Викторина по глобальному потеплению</h1>
      <form action="/result" method="post">
        {% for question in questions %}
            <fieldset>
              <legend>{{ question.question }}</legend>
              {% for option in question.options %}
                <label>
                  <input type="radio" name="question-{{ loop.index0 }}" value="{{ loop.index0 }}" required>
                  {{ option }}
                </label><br>
              {% endfor %}
            </fieldset>
        {% endfor %}
        <input type="submit" value="Отправить ответы">
      </form>



    {% endblock %}
  </main>
  <footer>
    <p>© 2025 Глобальное потепление. Все права защищены.</p>
    <a href="mailto:zumazazaz@gmail.com">Связаться с нами.</a>
  </footer>

</body>
</html>
