<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="site-header">
    <div class="logo-container">
      <img src="static\GlobP.png" alt="Логотип" width="70" height="70">
      <h1>GLOBAL WARMING</h1>
    </div>

    <hr>

    <nav class="main-nav">
      <a href="/">Главная</a>
      <span class="nav-separator"></span>
      <b href="/2">Причины</b>
      <span class="nav-separator"></span>
      <a href="/3">Последствия</a>
      <span class="nav-separator"></span>
      <a href="/4">Викторина</a>
      <span class="nav-separator"></span>
      <a href="/5">О нас</a>
    </nav>

    <hr>
  </header>

  <main>
    {% block content %}
    <h1>Причины глобального потепления</h1>

    <ul>
      <div class="list-item-container">
        <img src="static\prichina1.jpg" class="list-image">
        <h2>Природные процессы. </h2>
        <li>Например, лесные пожары и газовые выбросы — увеличивают концентрацию парниковых газов в атмосфере.</li>
      </div>

      <div class="list-item-container">
        <img src="static\солнце.jpg" class="list-image"> 
        <h2>Изменения в активности Солнца. </h2>
        <li>Они влияют на силу и характер излучения, достигающего Земли.</li>
      </div>

      <div class="list-item-container">
        <img src="static\земля.jpg" class="list-image">
        <h2>Малые изменения в орбите планеты. </h2>
        <li>Они также влияют на распределение солнечного излучения и температуру планеты.</li>
      </div>

      <div class="list-item-container">
        <img src="static\вулкан.jpg" class="list-image">
        <h2>Извержения вулканов. </h2>
        <li>В результате в атмосферу выбрасываются значительные объёмы пепла и газов, которые вызывают потепление или, наоборот, похолодание.</li>
      </div>

      
      <div class="list-item-container">
        <img src="static\океан.jpg" class="list-image">
        <h2>Изменения в океанических течениях. </h2>
        <li>Они влияют на распределение тепла в мировом океане и атмосфере, что отражается на климате.</li>
      </div>

      <div class="list-item-container">
        <img src="static\энергия.jpg" class="list-image">
        <h2>Производство энергии.</h2>
        <li>Для выработки электричества сжигают уголь, природный газ, нефть, бензин и другие виды топлива. В результате выбрасываются парниковые газы, которые заполняют атмосферу и удерживают в ней тепло.</li>
      </div>

      <div class="list-item-container">
        <img src="static\товары.jpg" class="list-image">
        <h2>Производство товаров. </h2>
        <li>Промышленность работает на сжигании ископаемого топлива, даже сама добыча ископаемых ведёт к выбросам.</li>
      </div>

      <div class="list-item-container">
        <img src="static\лес.jpg" class="list-image">
        <h2>Вырубка лесов. </h2>
        <li>Уничтожение деревьев, которые перерабатывают углекислый газ в кислород, ведёт к тому, что парниковые газы остаются в атмосфере, а температура растёт.</li>
      </div>

      <div class="list-item-container">
        <img src="static\транспорт.jpg" class="list-image">
        <h2>Использование транспорта. </h2>
        <li>Большинство автомобилей, грузовиков, кораблей и самолётов работают на ископаемых видах топлива.</li>
      </div>

      <div class="list-item-container">
        <img src="static\еда.jpg" class="list-image">
        <h2>Производство продуктов питания.</h2>
        <li>Оно приводит к выбросам углекислого газа, метана и других парниковых газов разными путями, включая вырубку лесов и расчистку земель для ведения сельского хозяйства.</li>
      </div>
    </ul>
    {% endblock %}
  </main>

  <footer>
    <p>© 2025 Глобальное потепление. Все права защищены.</p>
    <a href="mailto:zumazazaz@gmail.com">Связаться с нами.</a>
  </footer>

</body>
</html>

